.titlebar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: rem(60px);
    -webkit-app-region: drag;
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.windowControl {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-app-region: no-drag;
}

.updateButton {
    -webkit-app-region: no-drag;
}

.adjustButton:hover {
    background-color: #E5E5E5;
}

.closeButton:hover {
    background-color: #FF0000;
}
